body {
    text-align: center;
    margin: 50px;
}

h1 {
    color: blue;
}

h2 {
    color: green;
}

form {
    display: inline-block;
    text-align: left;
}

label {
    display: block;
    margin-top: 10px;
}
